.education-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
  }
  
  .education-heading {
    text-align: left;
    color: #f1675d;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .education-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  

  .education-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .education-details {
    font-weight: bold;
    font-size: 18px;
  }
  
  .education-gpa,
  .education-dates {
    margin-left: 10px;
  }
  