/* Your existing styles */
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #333;
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 50px;
  backdrop-filter: blur(5px);
  background-color: #f1675d;
  background-size: cover;
  background-position: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-color: #333;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #555;
}

.social-media p {
  font-size: 24px; /* Adjust the font size for smaller screens */
  color: #fff;
  margin: 0 5px; /* Adjust the margin between icons */
}

/* Adjusted size and alignment for the GIFs */
.gif-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align to the bottom of the container */
  margin-top: auto; /* Push the container to the bottom of the footer */
}

.gif-container img {
  width: 140px; /* Adjust the width of GIFs for smaller screens */
  margin: 0 5px; /* Adjust the margin between images */
}
