/* Add this CSS to your existing Home.css or relevant stylesheet */
.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image stays within the circle */
  margin: 50px auto 20px; /* Adjusted margin */
}

.profile-section {
  text-align: center;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  
  color: #f1675d;
  margin-right: 15px; /* Increased margin */
  font-size: 30px; /* Increased font size */
}

.social-icons a:hover {
  color: #021945;
}

.resume-download-button {
  display: block;
  margin: 20px auto 50px; /* Adjusted margin */
  width: 250px; /* Increased width */
  padding: 15px; /* Increased padding */
  border: none;
  border-radius: 10px; /* Increased border-radius */
  font-family: monospace;
  background-color: #021945;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px; /* Increased font size */
}

.resume-download-button:hover {
  background-color: #f1675d;
}

/* Add this CSS to your existing Home.css or relevant stylesheet */
.name {
  font-size: 36px; /* Increased font size */
}

.summary-text {
  font-size: 24px; /* Increased font size */
}

/* Add this CSS to your existing Home.css or relevant stylesheet */
.home {
  background-color: #232b2b; /* Set background color */
  color: white; /* Set font color */
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .home {
    overflow-x: hidden;
  }

  .summary-text {
    font-size: 20px; /* Increased font size */
  }
  

}