.body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #333;
}

.home {
  background-color: #FAF8F6;
  overflow-x: hidden;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.column-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  width: 48%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #aaa;
}

@media only screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.summary h1 {
  color: #007bff;
  margin-top: 100px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* ... (existing CSS) */

.summary-container {
  margin: 20px 0;
  padding: 20px;

  border-radius: 8px;
}

/* ... (existing CSS) */


.summary-box {
  margin: 20px 0;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
}

.summary-box p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
}
.summary-box p.summary-text {
  font-size: 40px;
  line-height: 1.6;
  margin-top: -100px;
  color: #007bff;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-align: justify;
  animation: typingAnimation 3s steps(40, end), fadeIn 1.5s;
}

.role {
  font-size: 24px; /* Adjust the font size for the role */
  color: #007bff;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .summary-box p.summary-text {
    font-size: 24px; /* Adjust the font size for smaller screens */
  }

  .role {
    font-size: 18px; /* Adjust the font size for mobile view */
  }
}



@keyframes typingAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.rectangle-image-container {
  text-align: center;
  margin-bottom: 100px;
}

.rectangle-image {
  width: 30%;
  max-width: 100%;
  margin-top: 100px;
  height: 30%; /* Set the height equal to the width */
  display: inline-block;
  border-radius: 50%; /* Use border-radius 50% to create a circle */
}


@media only screen and (max-width: 800px) {
  .rectangle-image {
    width: 80%; /* Adjust the width as needed */
    margin-top: 50px; /* Adjust the margin-top as needed */
  }
}

.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-box {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 40px;
  text-align: left;
}

.skills h1 {
  color: #007bff;
  font-size: 36px; 
  font-weight: bold;
  margin-bottom: 20px;
}

.skills-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-container ul li {
  margin-bottom: 10px;
  text-align: left;
  flex: 0 0 30%;
}

@media only screen and (max-width: 800px) {
  .skills-box {
    width: 100%;
  }

  .skills-container ul li {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.projects {
  scroll-margin-top: 100px;
  margin-bottom: 30px; /* Add margin-bottom to create space after projects section */
}

.experience {
  scroll-margin-top: 130px; /* Adjust the value based on the desired space between sections */
  width: 100%; /* Stretch from edge to edge */
}

.vertical-timeline-element {
  margin-bottom: 40px;
}

.vertical-timeline-element-content {
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.vertical-timeline-element-content-arrow {
  border: 1px solid #007bff !important;
  border-radius: 50% !important;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}


.achievements-container {
  text-align: center;
}

.achievements-box {
  margin: 20px 0;
  padding: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.achievements-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.achievements-box ul li {
  margin-bottom: 10px;
  text-align: center;
}


.experience {
  color: #333;
  border: 2px solid black;
  border-radius: 8px;
}
