.navbar {
  width: 100%;
  height: 100px;
  /* background-image: url('../assets/bgz.JPG'); */
  background-color: #f1675d;
  background-size: cover;
  background-position: center;
  position: relative;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #021945; /* Updated font color */
}

.navbar a {
  color: yellow; /* Updated font color */
  text-decoration: none;
  margin: 10px;
  font-size: 32px;
  white-space: nowrap;
}

.navbar a:hover {
  color: #021945;
}

@media only screen and (max-width: 600px) {
  .navbar .links {
    display: flex;
  }
}
