/* ProjectDisplay.css */

.project-display-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.project {
  width: 100%;
  flex-grow: 1; /* Allow the content to grow and push to the bottom */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.project h1 {
  color: white;
  font-size: 35px;
  margin-top: 20px;
}

.project img {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 24px;
  color: white;
  margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .project h1 {
    font-size: 24px;
  }

  .project p {
    font-size: 18px;
  }
}
