.summary-container {
    text-align: justify;
    margin: 0 auto; /* center the container horizontally */
    padding: 20px;
    max-width: 1000px; /* adjust max-width as needed for desktop */
}

.summary {
    font-size: 2rem; /* adjust font size as needed */
    color: #f1675d;
    /* additional styling for the summary heading */
}

.professional-summary {
    font-size: 1.1rem; /* adjust font size as needed */
    /* additional styling for the professional summary */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .summary-container {
        max-width: 90%; /* adjust container width for mobile */
    }

    .professional-summary {
        font-size: 1rem; /* adjust font size for mobile */
        text-align: left;
    }
}
